
.remit-card-status-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: auto;
	min-width: 100px;
}

.remit-card-status-wrapper .remit-status {
	padding: 6px 14px;
	border-radius: 6px;
	font-size: 0.85rem;
	font-weight: 600;
	display: flex;
	align-items: center;
	// gap: 6px;
}

.remit-status {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	font-size: 0.85rem;
	font-weight: 600;
}

@media (max-width: 768px) {
	.remit-card-status-wrapper {
		justify-content: flex-start;
		width: 100%;
		margin-left: 0;
		margin-top: 8px;
	}

	.remit-card-status-wrapper .remit-status {
		padding: 0;
	}
}

@media (max-width: 480px) {
    /* Card status padding 0 */
	.remit-card-status-wrapper .remit-status {
		padding: 0;
	}
    .remit-status {
        font-size: 0.7rem;
    }
}

.remit-status svg {
	flex-shrink: 0;
}

/* Improved Status Colors - Less Fluorescent */
.remit-status.status-verified {
	color: var(--status-verified);
}

.remit-status.status-unverified {
	color: var(--status-unverified);
}
.remit-status.status-received {
	color: var(--status-received);
}

.remit-status.status-processing {
	color: var(--status-processing);
}

.remit-status.status-approved {
	color: var(--status-approved);
}

.remit-status.status-complete {
	color: var(--status-complete);
}

.remit-status.status-success {
	color: var(--status-success);
}

.remit-status.status-failed {
	color: var(--status-failed);
}

.remit-status.status-pending {
	color: var(--status-cancel);
}

.remit-status.status-cancel {
	color: var(--status-cancel);
}

.remit-status.status-paused {
	color: var(--status-cancel);
}