// main color
$jinhak_main_color : #1b73d4;

// 변수
$gnb_height: 66px;
$gnb_fix_height: 80px;
$basic_width_wrap: 1160px; // 진학닷컴 기본 width
$basic_color_jinhak: #0a2b6d; // 진학닷컴 주 color
$basic_color_text: #272727; // 진학닷컴 기본 font color
$basic_color_red: #f00234;
$basic_color_blue: var(--color-blue-700);
$t_tag_color: #005fc1;
$t_standby_color: #999;
$detail_darkbd_color: #37404e; // 글 상세 진한 선
$detail_lightbd_color: #e3e3e4; // 글 상세 흐린 선
$f21e4a : #f21e4a;

$img-path: 'https://image.jinhak.com/renewal2019/';

// MIXIN
@mixin alpha_bg { // layer 반투명 bg
	background: url("https://image.jinhak.com/renewal2019/common/layer_alpha.png");
}

@mixin ani_imgzoom { // img hover시 zoom
	img {
		width: 100%;
		&:hover {
			-webkit-transform:scale(1.1);
			-moz-transform:scale(1.1);
			-o-transform:scale(1.1);
			transform:scale(1.1);
			transition: transform .2s;
			-o-transition: transform .2s;
			-moz-transition: transform .2s;
			-webkit-transition: transform .2s;
		}
	}
}

@mixin base_btn { // btn style의 공통
	display: inline-block;
	vertical-align: middle;
	border: solid 1px transparent;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	line-height: normal;
	&:hover {
		text-decoration: none;
	}
}

@mixin base_ck { // input[type=checkbox], input[type=radio] style의 공통
	position: relative;
	display: inline-block;
	cursor: pointer;
	& > input {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	label {
		position: relative;
		vertical-align: middle;
	}
}

@mixin base_input { // input[type=text] style의 공통
	border: solid 1px transparent;
	padding-left: 10px;
	line-height: normal;
	overflow: hidden;
}

@mixin base_layer { // layer 기본 wrap
	position: absolute;
	background-color: #FFF;
	border: solid 1px transparent;
	.close {
		position: absolute;
		width: 30px;
		height: 30px;
		span, a {
			display: block;
			width: 100%;
			height: 100%;
			text-indent: -9999em;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}

@mixin base_select { // select style의 공통
	padding-right: 24px;
	padding-left: 10px;
	line-height: normal;
	border: solid 1px transparent;
	background: url("https://image.jinhak.com/renewal2019/common/arr8_down.png") no-repeat right center #FFF;
	-webkit-appearance: none;
	&::-ms-expand {
		display: none;
	}
}

@mixin base_txt_list { // ul.list_bar와 같은 style의 공통
	position: relative;
	line-height: 1.4;
	margin-top: 5px;
	&:first-child {
		margin-top: 0;
	}
	&:after {
		display: block;
		position: absolute;
		left: 0;
	}
}

@mixin before_vmid { // 가상 선택자로 세로 가운데 정렬
	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

@mixin btn_close_bold { // layer close btn - bold
	display: inline-block;
	width: 22px;
	height: 22px;
	text-indent: -9999em;
	background:url("https://image.jinhak.com/renewal2019/common/layer_close.png") no-repeat center top;
}

@mixin btn_close_thin { // layer close btn - thin
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url("https://image.jinhak.com/renewal2019/common/layer_close2.gif") no-repeat center center;
	text-indent: -9999em;
}

@mixin btn_close_sm { // layer close btn - sm
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("https://image.jinhak.com/renewal2019/common/btn_close2.gif") no-repeat center center;
	text-indent: -9999em;
}

@mixin clearfix { // float 해제
	zoom: 1;
	&:after {
		content: "";
		display: table;
		clear: both;
		table-layout: fixed;
	}
}

@mixin after{
	content:"";
	display:block;
	clear:both;
}

@mixin ellipsisLine($line: 1) {
	text-overflow: ellipsis;
	overflow: hidden;
	@if $line ==1 {
		display: block;
		white-space: nowrap;
	}
	@else {
		display: -webkit-box;
		word-wrap: break-word;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $line;
	}
}

@mixin ff_malgun { // font-family: 맑은 고딕
	font-family: malgun Gothic, "맑은 고딕", sans-serif;
}

@mixin ff_arial { // font-family: Arial
	font-family: Arial, sans-serif;
	letter-spacing: 0;
}

@mixin ff_nanum { // font-family:
	font-family: "NanumBarunGothic", sans-serif;
}

@mixin ff_nanum_bold { // font-family:
	font-family: "NanumBarunGothicBold", sans-serif;
}

@mixin ff_noto { // font-family: Noto Sans KR
	font-family: "Noto Sans KR", sans-serif;
}

@mixin ff_spoqa { // font-family: Spoqa Han Sans
	font-family: "Spoqa Han Sans", sans-serif;
}

@mixin ff_pretendard { // font-family: ff_pretendard
	font-family: "Pretendard", sans-serif;
}

@mixin list_file { // 글상세> 첨부파일 목록
	border-top: solid 1px $detail_lightbd_color;
	dl {
		position: relative;
		padding-left: 95px;
		text-align: left;
		dt, dd a {
			font-size: 13px;
			color: #8f8f8f;
		}
		dt {
			position: absolute;
			margin-top: 9px;
			left: 17px;
			&:after {
				content: "";
				display: inline-block;
				width: 1px;
				height: 12px;
				background-color: #959595;
				vertical-align: middle;
				margin: -2px 0 0 14px;
			}
		}
		dd {
			padding: 5px 0 8px 0;
			a {
				display: inline-block;
				white-space: nowrap;
				text-decoration: underline;
				padding: 3px 0;
				margin-right: 14px;
				img {
					margin-right: 4px;
				}
			}
		}
	}
}

@mixin scrollbar { // scrollbar style
	scrollbar-3dlight-color: #FFF;
	scrollbar-arrow-color: #949494;
	scrollbar-track-color: #FFF;
	scrollbar-darkshadow-color: #FFF;
	scrollbar-face-color: #FFF;
	scrollbar-highlight-color: #dcdcdc;
	scrollbar-shadow-color: #dcdcdc;
}

@mixin text_hide { // 폰트 감추기
	overflow: hidden;
	position: absolute;
	top: -9999em;
	left: -9999em;
	width: 0;
	height: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

@mixin hidden { // 폰트 감추기
	overflow: hidden;
	position: absolute;
	top: -1px;
	left: -1px;
	width: 0;
	height: 0;
	border: 0;
	font-size:0;
	line-height:0;
}
@mixin t_date { // 작성일 (목록형, 상세에서는 size, color overwrite 하기)
	display: inline-block;
	font-size: 14px;
	color: #c4c4c4;
	letter-spacing: 0;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
	}
}

@mixin t_hit { // 조회수 (목록형, 상세에서는 size, color overwrite 하기)
	display: inline-block;
	font-size: 14px;
	color: #c4c4c4;
	letter-spacing: 0;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 11px;
		background: url("https://image.jinhak.com/jinhakImages/icon/icon_count.jpg") center no-repeat;
		margin: -2px 4px 0 0;
	}
}

@mixin t_tag { // tag (글 목록 용)
	span {
		//display: inline-block;
		padding: 3px 5px 3px 0;
		font-size: 14px;
		color: $t_tag_color;
		&.black{
			font-size: 14px;
			color: #272727;
			&:after{
				display:inline-block;
				content:",";
			}
			&:last-of-type{
				&:after{
					display:none;
				}
			}
		}
		&.sch_word {
			background-color: #ebf6fc;
		}
	}
}

@mixin t_tag2 { // tag (글 상세 용)
	line-height: 1.4;
	.HashTag { // 2019 이전 스타일 유지
		display: inline-block;
		font-size: 14px;
		color: $t_tag_color;
		margin-right: 13px;
	}
}

@function lth-size($lth: 1){
	@return $fullSize / $lth;
}

@mixin flexAlign($align:stretch, $jalign:space-between) {
	display:flex;
	align-items:$align;
	justify-content:$jalign;
}

@mixin flexCenter {
	display:flex;
	justify-content:center;
	align-items:center;
}

@mixin columnBox($space, $count) {
	display:flex;
	justify-content:space-between;

	& > * {
			$w : '(100% - #{$space})';
			width : calc( #{$w} / #{$count});
	}
	&:after{
			display:none !important;
	}
}

@mixin base_vod_txt { // vod 목록에서 .txt style의 공통
	position: relative;
	.subj {
		color: $basic_color_text;
	}
	.tag {
		margin-top: 3px;
		a {
			display: inline-block;
			font-size: 13px;
			color: #005fc1;
			white-space: nowrap;
			margin-right: 5px;
		}
	}
	.etc {
		margin-top: 3px;
		p {
			display: inline-block;
			font-size: 13px;
			color: #666;
			letter-spacing: 0;
			margin-right: 5px;
			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-top: -2px;
			}
			&.hit:before {
				width: 7px;
				height: 10px;
				background: url("https://image.jinhak.com/renewal2019/common/bl_play3.png") no-repeat left center;
				margin-right: 2px;
			}
			&.date:before {
				width: 3px;
				height: 2px;
				background-color: #666;
				border-radius: 50%;
				margin-right: 2px;
			}
			&.ad:before {
				width: 32px;
				height: 16px;
				background: url("https://image.jinhak.com/renewal2019/common/btn_ad.png") no-repeat left top;
				margin-right: 4px;
			}
		}
	}
}

@mixin hoverLine {
	&:after{
		position: absolute;
		bottom:0;
		left:0;
		right:0;
		width:0;
		margin:0 auto;
		content:"";
		display:block;
	}
	&:hover{
		color:$basic_color_blue;
		font-weight:600;
		text-decoration:none;
		@include transition(all, .2s, ease-out);
		&:after{
			width:100%;
			height:1px;
			background-color: $basic_color_blue;
			@include transition(all, .2s, ease-out);
		}
	}
}

// 사이드 fix 바
@mixin asideFix($v,$bg-color){
	position: fixed;
	top: 0;
	bottom: 0;
	width: 0;
	z-index: 145;
	background-color: $bg-color;
	@media all and (max-width:1551px) {
		display: none;
	}
	@if $v == "left"{
		left: 0;
		border-right: 1px solid #6d6d6d;
		.btn_close_side{
			right: -16px;
			transform: rotateY(180deg);
		}
	}@else if $v == "right"{
		right: 0;
		border-left: 1px solid #6d6d6d;
		.btn_close_side{
			left: -16px;
		}
	}
	.btn_close_side{
		position: absolute;
    top: 377px;
    font-size: 0;
    line-height: 0;
    width: 16px;
    height: 76px;
    background: url("https://image.jinhak.com/renewal2009/virtualapply/arr14_open.gif") left center no-repeat $bg-color;
    cursor: pointer;
	}
	&.open{
		.btn_close_side{
			background-image: url("https://image.jinhak.com/renewal2009/virtualapply/arr14_close.gif");
		}
	}
}
