// MIXINS
$viewport: 720;
$viewportPx : $viewport * 1px;
$minWidthTablet: 601px;

@mixin borderSize {
  @for $i from 1 through 10 {
    .bSize_#{$i},
    &.bSize_#{$i} {
      border-width:#{$i}px !important;
    }
  }
}

@mixin flex($jalign:space-between, $align:stretch) {
  display: flex;
  justify-content: $jalign; //default : space-between, flex-start
  //flex-direction: $align; //default : row, column
  align-items: $align;
}

/*  vw-calc */
$vw-context: calc($viewport * 0.01) * 1px;

@function calc-vw($vw) {
  $size: roundNum(calc($vw / $vw-context)) * 1vw;
	@return $size;
}

@function calc-m($vw){
  @return min($vw,calc-vw($vw));
}

@mixin calc-vw-2($vw, $vw1, $type) {
  $a: calc-vw($vw);
  $b: calc-vw($vw1);
  @if $type == auto {
    margin: #{$a} auto #{$b};
  }@else {
    #{$type}: #{$a} #{$b};
  }
}

@mixin calc-vw-4($vw, $vw1, $vw2, $vw3, $type) {
	$a: calc-vw($vw);
  $b: calc-vw($vw1);
  $c: calc-vw($vw2);
  $d: calc-vw($vw3);
  @if $type == radius {
		border-radius: #{$a} #{$b} #{$c} #{$d};
	}@else{
    #{$type}: #{$a} #{$b} #{$c} #{$d};
  }
}

@mixin calc-calc($vw, $type){
	$a:calc($vw / $vw-context) * 1vw;
	@if $type == width {
			width:calc(100% - #{$a});
	} @else if $type == width2 {
			width:calc(100%/2 - #{$a});
	} @else if $type == calc2 {
			height:calc(100%/2 - #{$a});
	}
}

//padding, margin, border
@mixin paddingMargin{
  @for $i from 1 through 20 {
    .p__#{$i * 5} {
      padding:#{$i * 5}px !important;
      .align{
        &.top{
          top:#{$i * 5}px;
        }
        &.bottom{
          bottom:#{$i * 5}px;
        }
        &.left{
          left:#{$i * 5}px;
        }
        &.right{
          right:#{$i * 5}px;
        }
      }
		}
    .pt#{$i * 5}{
      padding-top:#{$i * 5}px !important;
    }
    .pl#{$i * 5}{
      padding-left:#{$i * 5}px !important;
    }
    .pr#{$i * 5}{
      padding-right:#{$i * 5}px !important;
    }
    .pb#{$i * 5}{
      padding-bottom:#{$i * 5}px !important;
    }
    .mt#{$i * 5}{
      margin-top:#{$i * 5}px !important;
    }
    .ml#{$i * 5}{
      margin-left:#{$i * 5}px !important;
    }
    .mr#{$i * 5}{
      margin-right:#{$i * 5}px !important;
    }
    .mb#{$i * 5}{
      margin-bottom:#{$i * 5}px !important;
		}
	}
}

@mixin marginStyle($type){
	@for $i from 1 through 10 {
		@if $type == li {
			.mt__#{$i*5},
			&.mt__#{$i*5}{
				>li{
					margin-top: #{$i * 5}px;
          @media screen and (max-width:$viewportPx) {
            // $size : #{$i * 5}px;
					  // margin-top: calc-vw($size);
          }
					&:first-of-type{
						margin-top:0;
					}
				}
			}
			.mb__#{$i*5},
			&.mb__#{$i*5}{
				>li{
					margin-bottom: #{$i * 5}px;
					&:last-of-type{
						margin-bottom:0;
					}
				}
			}
		} @else if $type == dd {
			.mt__#{$i*5},
			&.mt__#{$i*5}{
				>dd{
					margin-top:#{$i*5}px;
					&:first-of-type{
						margin-top:0;
					}
				}
			}
			.mb__#{$i*5},
			&.mb__#{$i*5}{
				>dd{
					margin-bottom:#{$i*5}px;
					&:last-of-type{
						margin-bottom:0;
					}
				}
			}
		}
	}
}

//paddingSize
@mixin paddingSize{
  @for $i from 1 through 10 {
    &.p#{$i * 5}{
      padding:40px #{$i * 5}px !important;
    }
  }
}

//radius size
@mixin radiusSize($type:default){
  @for $i from 1 through 10 {
    &.r#{$i * 5},
    .r#{$i * 5} {
      @if $type == default {
        border-radius:#{$i * 5}px !important;
      } @else if $type == box {

        border-radius:#{$i * 5}px !important;
        >div, >li, >p, >span{
          border-radius:#{$i * 5}px !important;
        }
      }
    }
	}
}

// transform
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

// Rotate
@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// Translate
@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

// Skew
@mixin skew ($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transition($s, $t, $e) {
  -webkit-transition: $s $t $e;
  -moz-transition: $s $t $e;
  -o-transition: $s $t $e;
  transition: $s $t $e;
}

@mixin after{
	content:"";
	display:block;
	clear:both;
}

@mixin ellipsisLine($line: 1) {
	text-overflow: ellipsis;
	overflow: hidden;
	@if $line ==1 {
		display: block;
		white-space: nowrap;
	}
	@else {
		display: -webkit-box;
		word-wrap: break-word;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $line;
	}
}

@mixin scrollbar { // scrollbar style
	scrollbar-3dlight-color: #FFF;
	scrollbar-arrow-color: #949494;
	scrollbar-track-color: #FFF;
	scrollbar-darkshadow-color: #FFF;
	scrollbar-face-color: #FFF;
	scrollbar-highlight-color: #dcdcdc;
	scrollbar-shadow-color: #dcdcdc;
}

@mixin text_hide { // 폰트 감추기
	overflow: hidden;
	position: absolute;
	top: -9999em;
	left: -9999em;
	width: 0;
	height: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

@mixin hidden { // 폰트 감추기
	overflow: hidden;
	position: absolute;
	top: -1px;
	left: -1px;
	width: 0;
	height: 0;
	border: 0;
	font-size:0;
	line-height:0;
}

@function lth-size($lth: 1){
	@return $fullSize / $lth;
}

@mixin columnBox($space, $count) {
	display:flex;
	justify-content:space-between;

	& > * {
			$w : '(100% - #{$space})';
			width : calc( #{$w} / #{$count});
	}
	&:after{
			display:none !important;
	}
}

@mixin hoverLine {
	&:after{
		position: absolute;
		bottom:0;
		left:0;
		right:0;
		width:0;
		margin:0 auto;
		content:"";
		display:block;
	}
	&:hover{
		color:$basic_color_blue;
		font-weight:600;
		text-decoration:none;
		@include transition(all, .2s, ease-out);
		&:after{
			width:100%;
			height:1px;
			background-color: $basic_color_blue;
			@include transition(all, .2s, ease-out);
		}
	}
}