
/* ===== Layout ===== */
/* ===== Responsive - Mobile = max-width: 768 ===== */
/* ===== Responsive - Small Mobile = max-width: 480 ===== */

html,
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  position: relative;
}

.db-body {
	padding-top: var(--header-h-md);
	min-height: 100vh;
	background-color: var(--bg-section);
}

@media (max-width: 768px) {
  .db-body {
    padding-top: var(--header-h);
  }
}

.container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

// main layout
.section {
	padding: 6.25rem 0;
}

// sub layout
// Sidebar Styles
@media (min-width: 1025px) {
  #sidebarContainer {
    width: 200px;
    flex-shrink: 0;
    position: relative;
  }
  /* Collapse Container - Completely Hide */
  body.db-collapsed #sidebarContainer {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
  }
}

.container {
	max-width: var(--max-w);
	margin: 0 auto;
	padding: 0 var(--s6);
}

.db-main-container {
	padding: var(--s5) var(--s5) var(--s10);
}

.db-layout-flex {
	display: flex;
	align-items: flex-start;
	position: relative;
}

/* Notice Table Mobile Styles */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 480px) {
	.col-num,
  .th-num,
  .td-num {
		display: none !important;
	}
}

/* ===== Header ===== */
@import  "./header";

/* ===== Footer ===== */
@import  "./footer";

/* ===== SideBar ===== */
@import  "./sidebar";
