/* ===== Layout ===== */
/* ===== Responsive - Desktop : padding: 0 24px ===== */
/* ===== Responsive - Tablet = max-width: 1024 : padding: 0 20px ===== */
/* ===== Responsive - Mobile = max-width: 768 : padding: 0 16px ===== */
/* ===== Responsive - Small Mobile = max-width: 480 : padding: 0 16px ===== */

html,
body {
  overflow-x: hidden;
  width: var(--full);
  max-width: var(--full-vw);
  position: relative;
}

body{
  &.wh-full {
    width: var(--full);
    height: var(--full-vh);
    min-height: var(--full-vh);
  }
}

.db-body {
	padding-top: var(--header-h-md);
	min-height: var(--full-vh);
	background-color: var(--bg-section);
}

@media (max-width: 768px) {
  .db-body {
    padding-top: var(--header-h);
  }
}

/* ===== Container : header, Content, Footer  ===== */
.container {
	padding: 0 var(--s6);
	margin: 0 auto;
	width: var(--full);
	max-width: var(--max-w);
	overflow-x: hidden;
}

@media (max-width: 1024px) {
	.container {
		padding: 0 var(--s5);
	}
}

@media (max-width: 768px) {
	.container {
		padding: 0 var(--s4);
	}
}

/* ===== .db-main-container.Container ===== */
.db-main-container {
	padding-top: var(--s5);
	padding-bottom: var(--s5);
}

/* ===== Sub Inner Content ===== */
.db-content {
	flex: 1;
	width: var(--full);
}

.db-page-header {
	margin-bottom: var(--s5);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.db-page-title {
	font-size: var(--3xl);
	font-weight: 700;
	color: var(--text-dark);
	margin: 0;
}

/* ===== Inner White Content ===== */
.db-content-card {
	padding: var(--s6);
	background-color: #fff;
	border: 1px solid var(--border-color);
	border-radius: var(--radius-lg);
	box-shadow: var(--shadow-sm);
}

@media (max-width: 1024px) {
	.db-page-header {
		margin-bottom: var(--s4);
	}

	.db-content-card {
		padding: var(--s5);
	}
}

@media (max-width: 768px) {
	.db-page-header {
		margin-bottom: var(--s3);
	}

	.db-page-title {
		font-size: var(--2xl);
	}

	.db-content-card {
		padding: var(--s4);
	}
}

@media (max-width: 480px) {
	.db-page-title {
		font-size: var(--xl);
	}
}

.db-layout-flex {
	display: flex;
	align-items: flex-start;
	position: relative;
}

.db-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--s5);
	align-items: stretch;
}

.db-grid-3col {
	margin-top: var(--s5);
	display: grid;
	align-items: stretch;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--s5);
}

.db-grid-2col {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--s5);
	align-items: stretch;
	margin-top: var(--s5);
}


// Sidebar Styles
@media (min-width: 1025px) {
  #sidebarContainer {
    width: 200px;
    flex-shrink: 0;
    position: relative;
  }
  /* Collapse Container - Completely Hide */
  body.db-collapsed #sidebarContainer {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
  }
}

/* ===== Header ===== */
@import  "./header";

/* ===== Footer ===== */
@import  "./footer";

/* ===== SideBar ===== */
@import  "./sidebar";