
@use "./Helper";

/* ===== Reset & Base ===== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* Base Body Overflow Fix */
html,
body {
	width: var(--full);
	font-family: var(--font-family);
	font-size: var(--text-md);
	color: var(--text-heavy);
	line-height: 1.42;
	background-color: var(--white);
	overflow-x: hidden;
	*{
		font-family: inherit;
	}
}

@media (max-width: 768px) {
	html,
	body {
		font-size: var(--smBase);
	}
}

a {
	text-decoration: none;
	color: inherit;
	transition: var(--transition);
}

button {
	cursor: pointer;
	border: none;
	background: none;
	font-family: inherit;
}

img {
	max-width: var(--full);
	height: auto;
}

/* ===== Typography ===== */
p {
	font-size: var(--text-md);
	color: var(--text-default);
}

table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

input, select, textarea {
	width: var(--full);
	padding: var(--s3-14) var(--s4);
	font-size: var(--text-md);
	font-weight: 500;
	background-color: var(--white);
	border: 1px solid var(--border-soft);
	border-radius: var(--radius);
	outline: none;
	// &:focus-within {
	// 	border-color: var(--primary-default);
	// 	box-shadow: 0 0 0 3px rgba(0, 160, 220, 0.1);
	// }
	&::placeholder {
		color: var(--text-soft);
		font-weight: 400;
		opacity: 1;
	}

	&:not(:disabled, :read-only) {
		&:focus {
			@include Helper.input-focus;
		}
	}

	&.error {
		@include Helper.input-error;
	}

	&:disabled {
		@include Helper.input-disabled;
	}
}

input {
	&:read-only {
		// background-color: var(--bg-default);
		cursor: not-allowed;
	}
}

select {
	padding: var(--s3-14) var(--s8) var(--s3-14)var(--s4);
	color: var(--text-soft);
	-webkit-text-fill-color: #A4B7C0; // iOS Safari 파란색 방지
	color-scheme: light;
	appearance: none;
	background-image: var(--icon-select);
	background-size: var(--s3) 0.4375rem;
	background-repeat: no-repeat;
	background-position: calc(var(--full) - var(--s4)) center;
	cursor: pointer;
	// &:focus-within {
	// 	border-color: var(--primary-default);
	// 	box-shadow: 0 0 0 3px rgba(0, 160, 220, 0.1);
	// }
	&:valid {
		color: var(--text-heavy);
		-webkit-text-fill-color: var(--text-heavy); // iOS Safari 파란색 방지
	}
	&:not(:disabled, :read-only) {
		&:focus,
		&:valid {
			color: var(--text-heavy);
			-webkit-text-fill-color: var(--text-heavy); // iOS Safari 파란색 방지
		}
	}
	&:disabled {
		@include Helper.input-disabled;
	}
}

// checkbox, radio
.custom-check {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--s5);
	height: var(--s5);
	background-color: var(--white);
	border: 1px solid var(--border-default);
	border-radius: var(--s1);
	transition: var(--transition);
	flex-shrink: 0;
}

input[type="radio"]:checked + .custom-check,
input[type="checkbox"]:checked + .custom-check {
	background-color: var(--primary-default);
	border-color: var(--primary-default);
}

input[type="radio"]:checked + .custom-check::after,
input[type="checkbox"]:checked + .custom-check::after {
	display: block;
	content: "";
	margin-bottom: 0.1875rem;
	width: 0.25rem;
	height: 0.5rem;
	border: solid var(--white);
	border-width: 0 0.125rem 0.125rem 0;
	transform: rotate(45deg);
}

.hidden {
	display: none;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #9aa4ab #eef2f4;
}

*::-webkit-scrollbar {
	width: var(--s2);
	height: var(--s4);
}

*::-webkit-scrollbar-thumb {
	background-color: #9aa4ab;
	border-radius: 999px;
	border: 2px solid #eef2f4;
}

*::-webkit-scrollbar-track {
	background-color: #eef2f4;
	border-radius: 999px;
}

.flex-1 {
	flex: 1;
}