:root {
  // layout sizes
  --full: 100%;
  --full-dvw: 100dvw;
  --full-dvh: 100dvh;
  --max-w: 1200px;
  --header-h: 3.75rem; // 60px, max-width: 768px
  --header-h-md: 4.625rem; // 76px, min-width: 769px
  --sidebar-w: 18.75rem; // 300px
  --sidebarContainer-w: 12.25rem; // 196px
  --input-h: 3.25rem; // 52px

  --white-section-spacing: var(--s6); // var(--s6)
  --mobile-white-section-spacing: var(--s4); // var(--s4)

  --font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  // new colors
  --white: #FFFFFF;
  --black: #000000;
  --transparent: transparent;

  --primary-default: #00A0DC;
  --primary-strong: #3F87B9;
  --primary-heavy: #1B5E9E;

  --neutral-light: #C8D5DA;
  --neutral-soft: #A4B7C0;
  --neutral-default: #7A8E96;
  --neutral-strong: #4A5C64;
  --neutral-heavy: #1A2E35;

  --secondary-gray: #F3F4F6;
  --secondary-gray-dark: #5A6268;
  --secondary-gray-light: #F1F3F5;

  --negative: #EF4444;
  --positive: #059669;
  --cautionary: #F59E0B;

  --bg-default: #F5F8FC;
  --bg-soft: #F8FBFD;
  --bg-positive: #D9F3EB;
  --bg-negative: #FFF3F3 ;
  --bg-success: #E8F4FF;

  // text colors
  --text-default: var(--neutral-default);
  --text-soft: var(--neutral-soft);
  --text-strong: var(--neutral-strong);
  --text-heavy: var(--neutral-heavy);
  --text-light: var(--white);

  // main bg colors
  --bg-features: #E9F5FE;
  --bg-countries: var(--white);
  --bg-business: #34424C;
  --bg-contact: var(--white);
  --bg-footer: #2B3542;

  --bg-light: #F8FAFA;
  --bg-section: #F2F6F5;
  --bg-dark: #2B3542;
  --bg-dark-alt: #243B44;

  // status colors
  --status-verified: var(--positive); // 인증
  --status-unverified: var(--negative); // 미인증
  --status-received: var(--positive); // 접수
  --status-processing: var(--positive); // 신청중
  --status-approved: var(--positive); // 접수완료
  --status-complete: var(--primary-heavy); // 입금완료
  --status-success: var(--primary-heavy); // 거래성공
  --status-failed: var(--negative); // 거래실패
  --status-pending: var(--neutral-strong); // 거래보류
  --status-cancel: var(--neutral-strong); // 거래취소

  --accent-teal: #00C9B7;

  --border-soft: #EDEFF0;
  --border-default: #DFE4E6;

/* Shadow */
  --shadow-sm: 0 0.125rem 0.5rem rgba(26, 46, 53, 0.06);
  --shadow: 0 0.25rem 1rem rgba(193, 208, 219, 0.20);
  --shadow-lg: 0 0.75rem 2.5rem rgba(26, 46, 53, 0.12);

  // button test
  --accent-red: #fca5a5;
  --accent-red-light: #fca5a5;
  --accent-red-dark: #ef4444;
  --bg-delete: #fef2f2;

  // sizes & spacing
  --s1 : 0.25rem;  // var(--s1)
  --s1-6 : 0.375rem;  // 6px
  --s2 : 0.5rem;   // var(--s2)
  --s2-10: 0.625rem; // 10px
  --s3 : 0.75rem;  // var(--s3)
  --s3-14 : 0.875rem;  // 14px
  --s4 : 1rem;     // var(--s4)
  --s4-18 : 1.125rem;  // 18px
  --s5 : 1.25rem;  // var(--s5)
  --s6 : 1.5rem;   // var(--s6)
  --s7 : 1.75rem;  // var(--s7)
  --s8 : 2rem;     // var(--s8)
  --s9 : 2.25rem;  // var(--s9)
  --s10: 2.5rem;   // var(--s10)
  --s11: 2.75rem;  // 44px
  --s12: 3rem;     // 48px
  --s13: 3.25rem;  // 52px
  --s14: 3.5rem;   // 56px
  --s15: 3.75rem;  // 60px
  --s16: 4rem;     // 64px
  --s17: 4.25rem;  // 68px
  --s18: 4.5rem;   // 72px
  --s19: 4.75rem;  // 76px
  --s20: 5rem;     // 80px
  --s21: 5.25rem;  // 84px

  // font sizes
      --xsBase: 4.444vw; // ~ 360 : var(--s4)
      --smBase: 3.333vw; // 480 : var(--s4)
  --text-2xs: 0.625rem; // 10px
  --text-xs: 0.75rem;   // 12px
  --text-sm: 0.875rem;  // 14px
  --text-md: 1rem;      // 16px
  --text-lg: 1.125rem;  // 18px
  --text-xl: 1.25rem;   // 20px
  --text-2xl: 1.5rem;   // 24px
  --text-3xl: 1.75rem; // 28px
  --text-4xl: 2rem; // 32px
  --text-5xl: 2.25rem; // 36px

  --radius: 0.5rem;  // 8px
  --radius-md: 0.75rem;  // 12px
  --radius-lg: 1rem;  // 16px
  --radius-xl: 1.25rem;  // 20px

  --transition: all 0.3s ease;

  --icon-info: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M7.99674 1.33008C4.32341 1.33008 1.33008 4.32341 1.33008 7.99674C1.33008 11.6701 4.32341 14.6634 7.99674 14.6634C11.6701 14.6634 14.6634 11.6701 14.6634 7.99674C14.6634 4.32341 11.6701 1.33008 7.99674 1.33008ZM7.49674 5.33008C7.49674 5.05674 7.72341 4.83008 7.99674 4.83008C8.27008 4.83008 8.49674 5.05674 8.49674 5.33008V8.66341C8.49674 8.93674 8.27008 9.16341 7.99674 9.16341C7.72341 9.16341 7.49674 8.93674 7.49674 8.66341V5.33008ZM8.61008 10.9167C8.57674 11.0034 8.53008 11.0701 8.47008 11.1367C8.40341 11.1967 8.33008 11.2434 8.25008 11.2767C8.17008 11.3101 8.08341 11.3301 7.99674 11.3301C7.91008 11.3301 7.82341 11.3101 7.74341 11.2767C7.66341 11.2434 7.59008 11.1967 7.52341 11.1367C7.46341 11.0701 7.41674 11.0034 7.38341 10.9167C7.35008 10.8367 7.33008 10.7501 7.33008 10.6634C7.33008 10.5767 7.35008 10.4901 7.38341 10.4101C7.41674 10.3301 7.46341 10.2567 7.52341 10.1901C7.59008 10.1301 7.66341 10.0834 7.74341 10.0501C7.90341 9.98341 8.09008 9.98341 8.25008 10.0501C8.33008 10.0834 8.40341 10.1301 8.47008 10.1901C8.53008 10.2567 8.57674 10.3301 8.61008 10.4101C8.64341 10.4901 8.66341 10.5767 8.66341 10.6634C8.66341 10.7501 8.64341 10.8367 8.61008 10.9167Z' fill='%2300A0DC'/%3E%3C/svg%3E");
  --icon-info-navy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M9.99674 3.33008C6.32341 3.33008 3.33008 6.32341 3.33008 9.99674C3.33008 13.6701 6.32341 16.6634 9.99674 16.6634C13.6701 16.6634 16.6634 13.6701 16.6634 9.99674C16.6634 6.32341 13.6701 3.33008 9.99674 3.33008ZM9.49674 7.33008C9.49674 7.05674 9.72341 6.83008 9.99674 6.83008C10.2701 6.83008 10.4967 7.05674 10.4967 7.33008V10.6634C10.4967 10.9367 10.2701 11.1634 9.99674 11.1634C9.72341 11.1634 9.49674 10.9367 9.49674 10.6634V7.33008ZM10.6101 12.9167C10.5767 13.0034 10.5301 13.0701 10.4701 13.1367C10.4034 13.1967 10.3301 13.2434 10.2501 13.2767C10.1701 13.3101 10.0834 13.3301 9.99674 13.3301C9.91008 13.3301 9.82341 13.3101 9.74341 13.2767C9.66341 13.2434 9.59008 13.1967 9.52341 13.1367C9.46341 13.0701 9.41674 13.0034 9.38341 12.9167C9.35008 12.8367 9.33008 12.7501 9.33008 12.6634C9.33008 12.5767 9.35008 12.4901 9.38341 12.4101C9.41674 12.3301 9.46341 12.2567 9.52341 12.1901C9.59008 12.1301 9.66341 12.0834 9.74341 12.0501C9.90341 11.9834 10.0901 11.9834 10.2501 12.0501C10.3301 12.0834 10.4034 12.1301 10.4701 12.1901C10.5301 12.2567 10.5767 12.3301 10.6101 12.4101C10.6434 12.4901 10.6634 12.5767 10.6634 12.6634C10.6634 12.7501 10.6434 12.8367 10.6101 12.9167Z' fill='%231B5E9E'/%3E%3C/svg%3E");
  --icon-error: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8.00016 1.33331C4.32683 1.33331 1.3335 4.32665 1.3335 7.99998C1.3335 11.6733 4.32683 14.6666 8.00016 14.6666C11.6735 14.6666 14.6668 11.6733 14.6668 7.99998C14.6668 4.32665 11.6735 1.33331 8.00016 1.33331ZM10.2402 9.53331C10.4335 9.72665 10.4335 10.0466 10.2402 10.24C10.1402 10.34 10.0135 10.3866 9.88683 10.3866C9.76016 10.3866 9.6335 10.34 9.5335 10.24L8.00016 8.70665L6.46683 10.24C6.36683 10.34 6.24016 10.3866 6.1135 10.3866C5.98683 10.3866 5.86016 10.34 5.76016 10.24C5.56683 10.0466 5.56683 9.72665 5.76016 9.53331L7.2935 7.99998L5.76016 6.46665C5.56683 6.27331 5.56683 5.95331 5.76016 5.75998C5.9535 5.56665 6.2735 5.56665 6.46683 5.75998L8.00016 7.29331L9.5335 5.75998C9.72683 5.56665 10.0468 5.56665 10.2402 5.75998C10.4335 5.95331 10.4335 6.27331 10.2402 6.46665L8.70683 7.99998L10.2402 9.53331Z' fill='%23EF4444'/%3E%3C/svg%3E");
  --icon-lang-select: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M9.52257 12.5547C9.79146 12.8055 10.2085 12.8055 10.4774 12.5547L14.3297 8.96192C14.7944 8.5285 14.4878 7.75 13.8523 7.75H6.14771C5.51225 7.75 5.20556 8.5285 5.67028 8.96192L9.52257 12.5547Z' fill='%234A5C64'/%3E%3C/svg%3E");
  --icon-select: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0%200%2012%207' fill='none'%3E%3Cpath d='M0.800252%200.800334L5.75%205.75008L10.6997%200.800334' stroke='%237A8E96' stroke-width='1.6' stroke-linecap='round'/%3E%3C/svg%3E");
  --icon-datepicker: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='%237A8E96' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cline x1='16' y1='2' x2='16' y2='6'/%3E%3Cline x1='8' y1='2' x2='8' y2='6'/%3E%3Cline x1='3' y1='10' x2='21' y2='10'/%3E%3C/svg%3E");
}