
// spacing helpers
.m1 {
    margin: var(--s4);
}
.mt1 {
    margin-top: var(--s4);
}
.mb1 {
    margin-bottom: var(--s4);
}
.ml1 {
    margin-left: var(--s4);
}
.mr1 {
    margin-right: var(--s4);
}