
.common-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid var(--border-default);
	border-radius: var(--radius);
	overflow: hidden;
}

// column widths
.col-check {
	width: 80px;
	text-align: center;
}

.col-type {
	width: 100px;
	text-align: center;
}

.col-name {
	width: auto;
}

.col-num {
	width: 80px;
}

.col-balance {
	width: auto;
	text-align: right;
	font-weight: 700;
	color: #1f2937;
}

.col-status {
	width: 100px;
	text-align: center;
}

.col-delete {
	width: 100px;
}

.common-table thead {
	background-color: var(--bg-default);
}

.common-table {
	tbody tr {
		background-color: var(--white);
		border-bottom: 1px solid #eee;
		transition: background-color 0.2s;
		cursor: pointer;
	}
	&.coupon-mode {
		tbody tr {
			cursor: default;
		}
	}
}

.common-table tbody tr:hover {
	background-color: #f8fafa;
}

// disabled row style
.common-table tbody tr.disabled {
	background-color: #f8fafa;
	td {
		color: var(--text-soft);
		cursor: not-allowed;
	}
}

.common-table tbody tr:first-child {
	td {
		border-top: none;
	}
}

.common-table tbody tr:last-child {
	border-bottom: none;
}

.common-table th,
.common-table td {
	padding: var(--s4) var(--s3-14);
	font-size: var(--text-sm);
	text-align: center;
}

.common-table th {
	color: var(--text-heavy);
	font-weight: 600;
	border-bottom: 1px solid var(--border-default);
}

.common-table td {
	color: var(--text-strong);
	border-top: 1px solid var(--border-soft);

	.check-label-group {
		justify-content: center;
	}
}


.common-table .faq-title {
	font-size: 15px;
	font-weight: 500;
	vertical-align: middle;
	text-align: left !important;
}

.common-table .faq-content {
	padding: 24px 40px 24px 48px;
	line-height: 1.6;
	color: #555;
	// white-space: pre-line;
	text-align: left !important;
}

.common-table td.notice-title {
	text-align: left;
	padding-left: 16px;
}

.common-table td.notice-title a {
	color: var(--text-heavy);
	font-weight: 500;
	transition: color 0.2s;
}

.common-table td.notice-title a:hover {
	color: var(--primary-default);
}

.common-table td.center .radio-wrap {
	margin: 0 auto;
}

/* HI_02_01: 거래 내역 테이블 스타일 (History Mode) */
/* 기본 스타일은 common-table 상속 */
.common-table.history-mode td.text-right {
	text-align: right;
}

.common-table.history-mode td {
	.field-label {
		display: none;
	}
}

.common-table td.center,
.db-basic-table td.center,
td.center {
	text-align: center;
}

@media (max-width: 1024px) {

	.common-table th,
  	.common-table td {
		padding: var(--s3) var(--s2);
		font-size: var(--text-sm);
	}
}

/* 768px 이하: 카드형 (HI_01_01 스타일 재구성) */
@media (max-width: 768px) {
	.common-table {
		border-radius: var(--radius);
	}
	.common-table .th-num,
  	.common-table .td-num {
		display: none;
	}

	.common-table .th-views,
  	.common-table .td-views {
		display: none;
	}

	.common-table .col-num,
  	.common-table .col-views {
		display: none;
	}

	.common-table.history-mode thead {
		display: none;
	}

	.common-table.history-mode,
  	.common-table.history-mode tbody {
		display: block;
		width: 100%;
		border: none;
		background-color: transparent;
		border-collapse: separate;
	}

	.common-table.history-mode tbody {
		display: flex;
		flex-direction: column;
		gap: var(--s3);
	}

  /* Card Container */
	.common-table.history-mode tr {
		padding: var(--s4);
		display: grid;
		grid-template-columns: auto 1fr;
		width: 100%;
		color: var(--text-default);
		background-color: var(--white);
		border: 1px solid var(--border-default);
		border-radius: var(--radius);
		overflow: hidden;
    &:hover {
      background-color: var(--white);
    }
	}
	.common-table tbody tr:last-child {
		border-bottom: 1px solid var(--border-default);
	}

  /* Header Area: Date Only */
  /* 번호 숨김 history-mode */
	.common-table.history-mode td:nth-child(1) {
		display: none;
	}

  /* title 영역 부분 */
	.common-table.history-mode td:nth-child(2) {
		padding: 0;
		padding-bottom: var(--s3);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		grid-column: 1 / -1;
		font-size: var(--text-sm);
		color: var(--text-strong);
		font-weight: 500;
		border-top: none;
		border-bottom: 1px solid var(--border-default);
		background-color: var(--white);
	}

	.common-table.history-mode {
		&:is(.coupon-mode) {
			td:nth-child(2) {
				border-top: none;
				.field-label {
					display: flex;
					margin-bottom: var(--s4);
					padding-bottom: var(--s3);
					font-size: var(--text-sm);
					font-weight: 600;
					color: var(--text-strong);
					border-bottom: 1px solid var(--border-soft);
				}
			}
		}
	}

	.common-table.history-mode td:nth-child(2)::before {
		content: none;
	}

  /* Body Area: Details */
	.common-table.history-mode td:nth-child(n + 3) {
		padding: 0;
		padding-top: var(--s2);
		grid-column: 1 / -1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: var(--text-sm);
		color: var(--text-strong);
		font-weight: 500;
		border: none;
		background-color: var(--white);
	}

	.common-table.history-mode td:nth-child(3) {
		padding-top: var(--s3);
	}

	.common-table.history-mode td:last-child[data-label='삭제'] {
		&:before {
			display: none;
		}
	}

  /* Label Styling */
	.common-table.history-mode td:nth-child(n + 3)::before {
		content: attr(data-label);
		font-size: var(--text-sm);
		color: var(--text-default);
		font-weight: 600;
		margin-right: auto;
	}

	.common-table.history-mode td {
		.remit-card-status-wrapper {
			min-width: auto;
			width: auto;
		}
	}

	.common-table.history-mode td.text-right {
		text-align: right;
	}

	.common-table.history-mode td .field-item {
		width: 100%;
	}

	/* 번호 노출 number-mode : 자주 쓰는 계좌, 최근 입금 계좌 모달용 */
	.common-table.number-mode td:nth-child(1),
	.common-table.number-mode td:nth-child(2) {
		padding: 0;
		padding-bottom: var(--s3);
		display: flex;
		align-items: center;
	}

	.common-table.number-mode td:nth-child(1) {
		grid-column: 1 / 2;
		justify-content: flex-start;
		border-top: none;
		border-bottom: 1px solid var(--border-default);
		&:before {
			content: '#';
		}
	}

	.common-table.number-mode td:nth-child(2) {
		grid-column: 2 / 3;
		justify-content: flex-end;
		color: var(--primary-default);
	}

	// AC_02_03: 계좌 관리 테이블 스타일 (Account Mode)
	.common-table.account-mode td:nth-child(1) {
		display: flex;
		padding: 0;
		padding-bottom: var(--s3);
		grid-column: 1 / -1;
		justify-content: space-between;
		border-top: none;
		border-bottom: 1px solid var(--border-default);
		&::before {
			display: block;
			content: attr(data-label);
		}
	}

	.common-table.account-mode td:nth-child(2) {
		padding: 0;
		padding-top: var(--s3);
		width: 100%;
		grid-column: 1 / -1;
		justify-content: space-between;
		border: none;
		&::before {
			display: block;
			content: attr(data-label);
			color: var(--text-default);
        	font-weight: 600;
		}
	}
}

@media (max-width: 480px) {
	.col-num,
	.th-num,
	.td-num {
		display: none;
	}

	.common-table th,
  .common-table td {
		padding: 10px 8px;
	}

	// .common-table .th-num,
  	// .common-table .td-num {
	// 	display: table-cell;
	// }

	.common-table .th-views,
  	.common-table .td-views {
		display: none;
	}

	.common-table .col-views {
		display: none;
	}

	.common-table.faq-table thead {
		display: none;
	}

	.common-table td.notice-title {
		padding-left: 10px;
	}
}
